{% extends "learning_logs/base.html" %}

{% block page_header %}
  <h1>Topics</h1>
{% endblock page_header %}

{% block content %}
  <ul>
    {% for topic in topics %}
      <li><h3>
        <a href="{% url 'learning_logs:topic' topic %}">{{ topic }}</a>
      <h3></li>
    {% empty %}
      <li><h3>No topics have been added yet.<h3></li>
    {% endfor %}
  </ul>
  
  <a class="btn btn-outline-primary" href="{% url 'learning_logs:new_topic' %}"
        role="button"><h5>Add a new topic</h5></a>
{% endblock content %}